OCCLUX_SERVER_URL=https://occlux.tech

# SERVER
OCCLUX_HOST=127.0.0.1
OCCLUX_PORT=8080
OCCLUX_READ_TIMEOUT=5s
OCCLUX_READ_HEADER_TIMEOUT=2s
OCCLUX_WRITE_TIMEOUT=10s
OCCLUX_IDLE_TIMEOUT=120s
OCCLUX_MAX_HEADER_BYTES=32768

# REDIS
OCCLUX_REDIS_URL=redis://:password@redis:6379
OCCLUX_REDIS_POOL_SIZE=10
OCCLUX_REDIS_MIN_IDLE_CONNS=2
OCCLUX_REDIS_DIAL_TIMEOUT=5s
OCCLUX_REDIS_READ_TIMEOUT=3s
OCCLUX_REDIS_WRITE_TIMEOUT=3s
OCCLUX_REDIS_POOL_TIMEOUT=4s
OCCLUX_REDIS_MAX_RETRIES=3
OCCLUX_REDIS_PROTOCOL=3

# REDIS DATABASES
OCCLUX_REDIS_SECRET_DB=0
OCCLUX_REDIS_LIMITER_DB=1

# RATE LIMITS
OCCLUX_RATE_LIMIT_SECRET_CREATE=20-M
OCCLUX_RATE_LIMIT_SECRET_GET=60-M